/* 
==============================================
CONTENT:	Vue-Final
AUTHOR:		Danny McMillan
==============================================

*/

/* 0. Reset ================================= */
@import 'reset';
$primary-color: #21968f;
$secondary-color: #76d26d;
$accent-color: #903586;
$font-1: 'Roboto', sans-serif;

/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body {
	background: white;
}

/* 2. Content ================================= */


.header-1 {
	font-size: 20px;
}











